
if SHIELD_wireless_left_LEFT

config ZMK_KEYBOARD_NAME
    default "wireless_left"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_wireless_left_LEFT

if SHIELD_wireless_left_LEFT || SHIELD_wireless_left_RIGHT

config ZMK_SPLIT
    default y

config SPI
    default y

config ZMK_RGB_UNDERGLOW
    select WS2812_STRIP
    select SPI

endif # SHIELD_wireless_left_LEFT || SHIELD_wireless_left_RIGHT
