#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <&kp ESC &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp B &kp T &kp Q &kp W &kp E &kp R &kp V &kp P &kp A &kp S &kp D &kp F &kp M &kp N &kp Z &kp X &kp C &kp G &kp SPACE &kp H &kp J &kp K &kp L &kp I &kp U &kp O>;
        };
    };
};